# STRUCTURED OUTPUT


Structured output refers to the ability to get information from the Gemini model in a well-organized, predictable format, usually as JSON, CSV, or a table, instead of just free form text (unstructured output like paragraphs).

Example:

1. Unsturctured: "Sneha has 7 years of experience in Artificial Intelligence. He worked at SpaceX and specializes in Python, SQL, and C/C++.

2. Structured:

{
  
  "name": "Sneha",

  "experience: "7 years",

  "previous_company: "SpaceX",

  "skills": ["Python", "SQL", "C/C++"]
    
}

Benefits:

1. Store in databases.
2. Feed into automated pipelines.
3. Analyze with BI tools or ML models.
4. Use in system to system communication.

Gemini can generate either JSON or enum values as structured
lets start with JSON first
## JSON: stands for JavaScript object Notation.

It is a lightweight, human readable format used to store and exchange structured data between systems (especially between servers and web applications).

JSON is made of key value pairs.

 {
  "Key1": "value1",

  "Key2": 123,

  "key3": TRUE,

  "key4": [1,2,3],

  "key5": { "nestedkey": "nestedVALUE" }
}

GENERATING JSON

1. WE NEED TO FIRST CONFIGURE THE SCHEMA OF THE MODEL.

2. "Configure a schema on the model "means you tell the model in advance exactly what kind of structured response (e.g., JSON format) you want.

3. you define this using predefined schema which guides the model to fill out the correct fields in the response.

In [15]:
# Install the Google Generative AI SDK
!pip install -q google-generativeai

In [16]:
import os
os.environ["GOOGLE_API_KEY"] = "ENTER API KEY"

In [17]:
from google import genai
from google.genai import types
client = genai.Client()

In [18]:
from google import genai
from pydantic import BaseModel  # IMPORTING PYDANTIC BASEMODEL CLASS...

#Defining schema
class programing_language(BaseModel):      #inherticance of BaseModel
  language_name: str
  year_created: int
  creator_name: str
  use_cases: list[str]


prompt = "list some popular programming languages, and for each, include its year creation, the creator's name, and two common cases."

response = client.models.generate_content(
    model    ="gemini-2.5-flash",
    contents =prompt,
    config   = {
       "response_mime_type":"application/json",
       "response_schema":list[programing_language]
    }
)


#  now, we want to store the output in structured so, that in future we can store this in csv or dataframe.

In [19]:
print(response.text)

[{"language_name":"Python","year_created":1991,"creator_name":"Guido van Rossum","use_cases":["Web Development","Data Science"]},{"language_name":"JavaScript","year_created":1995,"creator_name":"Brendan Eich","use_cases":["Web Development","Frontend Development"]},{"language_name":"Java","year_created":1995,"creator_name":"James Gosling","use_cases":["Enterprise Applications","Android Development"]},{"language_name":"C++","year_created":1985,"creator_name":"Bjarne Stroustrup","use_cases":["Game Development","System Programming"]}]

as you can see now its in a structured form

In [20]:
# DataFrame conversion
# we need to prase this output in list of dict first
# 1 convert into dic and then convert into list

import pandas as pd
pd.DataFrame([i.model_dump() for i in response.parsed])

,language_name,year_created,creator_name,use_cases
0,Python,1991,Guido van Rossum,"[Web Development, Data Science]"
1,JavaScript,1995,Brendan Eich,"[Web Development, Frontend Development]"
2,Java,1995,James Gosling,"[Enterprise Applications, Android Development]"
3,C++,1985,Bjarne Stroustrup,"[Game Development, System Programming]"

In [21]:
# it passes the jsonfile
#convert them into list
# list ----- dataframe

In [22]:
from PIL import Image
from google import genai
from pydantic import BaseModel

class Citizen(BaseModel):
  name:str
  age:str
  gender:str
  address:str
  emp_id: str
  monthly_income:str
  income_currency:str

client = genai.Client()

image = Image.open("/content/employe_data.png")




response_1 = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents=[image, "From the given text, extract all the information that is available  as per the given  json structure."],
    config={
        "response_mime_type":"application/json",
        "response_schema":list[Citizen]
    }

)

In [23]:
response_1

GenerateContentResponse(
  automatic_function_calling_history=[],
  candidates=[
    Candidate(
      content=Content(
        parts=[
          Part(
            text="""[
  {
    "name": "Alpha",
    "age": "28-year-old",
    "gender": "male",
    "address": "Dubai",
    "emp_id": "-12345678",
    "monthly_income": "1.2 crore",
    "income_currency": "USD"
  },
  {
    "name": "Priya",
    "age": "32-year-old",
    "gender": "female",
    "address": "Mumbai",
    "emp_id": "E-54321",
    "monthly_income": "15 Lakhs",
    "income_currency": "INR"
  },
  {
    "name": "David",
    "age": "45-year-old",
    "gender": "male",
    "address": "London",
    "emp_id": "LON-8899",
    "monthly_income": "9,000",
    "income_currency": "GBP"
  },
  {
    "name": "Fatima",
    "age": "29-year-old",
    "gender": "female",
    "address": "Abu Dhabi",
    "emp_id": "AD-765B",
    "monthly_income": "40,000",
    "income_currency": "AED"
  },
  {
    "name": "Kenji",
    "age": "38-year-old",
    "gender": "male",
    "address": "Tokyo",
    "emp_id": "TKY-1020",
    "monthly_income": "1.5 million",
    "income_currency": "JPY"
  },
  {
    "name": "Chloe",
    "age": "25-year-old",
    "gender": "female",
    "address": "Sydney",
    "emp_id": "SYD-6543",
    "monthly_income": "12,000",
    "income_currency": "AUD"
  },
  {
    "name": "Raj",
    "age": "52-year-old",
    "gender": "male",
    "address": "Bangalore",
    "emp_id": "BLR-007",
    "monthly_income": "2.5 crore",
    "income_currency": "INR"
  },
  {
    "name": "Sofia",
    "age": "35-year-old",
    "gender": "female",
    "address": "New York",
    "emp_id": "NYC-2024A",
    "monthly_income": "25,000",
    "income_currency": "USD"
  },
  {
    "name": "Omar",
    "age": "41-year-old",
    "gender": "male",
    "address": "Riyadh",
    "emp_id": "SA-9182",
    "monthly_income": "60,000",
    "income_currency": "SAR"
  },
  {
    "name": "Ananya",
    "age": "22-year-old",
    "gender": "female",
    "address": "Pune",
    "emp_id": "P-7890-INT",
    "monthly_income": "80,000",
    "income_currency": "INR"
  },
  {
    "name": "Marcus",
    "age": "60-year-old",
    "gender": "male",
    "address": "Singapore",
    "emp_id": "SG-1122",
    "monthly_income": "30,000",
    "income_currency": "SGD"
  }
]"""
          ),
        ],
        role='model'
      ),
      finish_reason=<FinishReason.STOP: 'STOP'>,
      index=0
    ),
  ],
  model_version='gemini-2.5-flash',
  parsed=[
    Citizen(
      address='Dubai',
      age='28-year-old',
      emp_id='-12345678',
      gender='male',
      income_currency='USD',
      monthly_income='1.2 crore',
      name='Alpha'
    ),
    Citizen(
      address='Mumbai',
      age='32-year-old',
      emp_id='E-54321',
      gender='female',
      income_currency='INR',
      monthly_income='15 Lakhs',
      name='Priya'
    ),
    Citizen(
      address='London',
      age='45-year-old',
      emp_id='LON-8899',
      gender='male',
      income_currency='GBP',
      monthly_income='9,000',
      name='David'
    ),
    Citizen(
      address='Abu Dhabi',
      age='29-year-old',
      emp_id='AD-765B',
      gender='female',
      income_currency='AED',
      monthly_income='40,000',
      name='Fatima'
    ),
    Citizen(
      address='Tokyo',
      age='38-year-old',
      emp_id='TKY-1020',
      gender='male',
      income_currency='JPY',
      monthly_income='1.5 million',
      name='Kenji'
    ),
    <... 6 more items ...>,
  ],
  response_id='cDMAaafGFq6j_uMPt_el8AQ',
  sdk_http_response=HttpResponse(
    headers=<dict len=10>
  ),
  usage_metadata=GenerateContentResponseUsageMetadata(
    cache_tokens_details=[
      ModalityTokenCount(
        modality=<MediaModality.TEXT: 'TEXT'>,
        token_count=21
      ),
      ModalityTokenCount(
        modality=<MediaModality.IMAGE: 'IMAGE'>,
        token_count=252
      ),
    ],
    cached_content_token_count=273,
    candidates_token_count=924,
    prompt_token_count=280,
    prompt_tokens_details=[
      ModalityTokenCount(
        modality=<MediaModality.TEXT: 'TEXT'>,
        token_count=22
      ),
      ModalityTokenCount(
        modality=<MediaModality.IMAGE: 'IMAGE'>,
        token_count=258
      ),
    ],
    thoughts_token_count=1027,
    total_token_count=2231
  )
)

In [24]:
print(response_1.text)

[
  {
    "name": "Alpha",
    "age": "28-year-old",
    "gender": "male",
    "address": "Dubai",
    "emp_id": "-12345678",
    "monthly_income": "1.2 crore",
    "income_currency": "USD"
  },
  {
    "name": "Priya",
    "age": "32-year-old",
    "gender": "female",
    "address": "Mumbai",
    "emp_id": "E-54321",
    "monthly_income": "15 Lakhs",
    "income_currency": "INR"
  },
  {
    "name": "David",
    "age": "45-year-old",
    "gender": "male",
    "address": "London",
    "emp_id": "LON-8899",
    "monthly_income": "9,000",
    "income_currency": "GBP"
  },
  {
    "name": "Fatima",
    "age": "29-year-old",
    "gender": "female",
    "address": "Abu Dhabi",
    "emp_id": "AD-765B",
    "monthly_income": "40,000",
    "income_currency": "AED"
  },
  {
    "name": "Kenji",
    "age": "38-year-old",
    "gender": "male",
    "address": "Tokyo",
    "emp_id": "TKY-1020",
    "monthly_income": "1.5 million",
    "income_currency": "JPY"
  },
  {
    "name": "Chloe",
    "age": "25-year-old",
    "gender": "female",
    "address": "Sydney",
    "emp_id": "SYD-6543",
    "monthly_income": "12,000",
    "income_currency": "AUD"
  },
  {
    "name": "Raj",
    "age": "52-year-old",
    "gender": "male",
    "address": "Bangalore",
    "emp_id": "BLR-007",
    "monthly_income": "2.5 crore",
    "income_currency": "INR"
  },
  {
    "name": "Sofia",
    "age": "35-year-old",
    "gender": "female",
    "address": "New York",
    "emp_id": "NYC-2024A",
    "monthly_income": "25,000",
    "income_currency": "USD"
  },
  {
    "name": "Omar",
    "age": "41-year-old",
    "gender": "male",
    "address": "Riyadh",
    "emp_id": "SA-9182",
    "monthly_income": "60,000",
    "income_currency": "SAR"
  },
  {
    "name": "Ananya",
    "age": "22-year-old",
    "gender": "female",
    "address": "Pune",
    "emp_id": "P-7890-INT",
    "monthly_income": "80,000",
    "income_currency": "INR"
  },
  {
    "name": "Marcus",
    "age": "60-year-old",
    "gender": "male",
    "address": "Singapore",
    "emp_id": "SG-1122",
    "monthly_income": "30,000",
    "income_currency": "SGD"
  }
]

In [25]:
pd.DataFrame([i.model_dump() for i in response.parsed])

,language_name,year_created,creator_name,use_cases
0,Python,1991,Guido van Rossum,"[Web Development, Data Science]"
1,JavaScript,1995,Brendan Eich,"[Web Development, Frontend Development]"
2,Java,1995,James Gosling,"[Enterprise Applications, Android Development]"
3,C++,1985,Bjarne Stroustrup,"[Game Development, System Programming]"

In [26]:
#Another way to have a output in the form of JSON
# define schema in a prompt
# but what we have read before in that we passed schema in baseModel

In [27]:
# by giving instruction inside prompt

# this way is less reliable ,

# extract data from an image
# governmet data from that extract content


from PIL import Image
from google import genai

client = genai.Client()

image = Image.open("/content/employe_data.png")
#image


# Step 2: Initialize client
client = genai.Client()

# Step 3: Make the API call
response_2 = client.models.generate_content(
    model="gemini-2.5-flash",
    contents=[image, '''from the given image that contains text , extract all the information that is available as per the given structure
                      'name: str
                      'age: int'
                      'gender: str'
                      'address: str'
                      'aadhaar: str'
                      'monthly_income:  int'
                      'income_currency: str'''
    ],
)


#It is recommended to use baseModel method because sometimes it dontgive a same output
# even if  you go the Documentation Google has provided [ Dont provide a schema in text prompt
# if youre configuration is a response schema. this can produce unexpected or low quality response]

# Step 4: View results
print(response_2.text)

Here is the extracted information structured as requested:

```json
[
  {
    "name": "Alpha",
    "age": 28,
    "gender": "male",
    "address": "Dubai",
    "aadhaar": "-12345678",
    "monthly_income": 12000000,
    "income_currency": "USD"
  },
  {
    "name": "Priya",
    "age": 32,
    "gender": "female",
    "address": "Mumbai",
    "aadhaar": "E-54321",
    "monthly_income": 1500000,
    "income_currency": "INR"
  },
  {
    "name": "David",
    "age": 45,
    "gender": "male",
    "address": "London",
    "aadhaar": "LON-8899",
    "monthly_income": 9000,
    "income_currency": "GBP"
  },
  {
    "name": "Fatima",
    "age": 29,
    "gender": "female",
    "address": "Abu Dhabi",
    "aadhaar": "AD-765B",
    "monthly_income": 40000,
    "income_currency": "AED"
  },
  {
    "name": "Kenji",
    "age": 38,
    "gender": "male",
    "address": "Tokyo",
    "aadhaar": "TKY-1020",
    "monthly_income": 1500000,
    "income_currency": "JPY"
  },
  {
    "name": "Chloe",
    "age": 25,
    "gender": "female",
    "address": "Sydney",
    "aadhaar": "SYD-6543",
    "monthly_income": 12000,
    "income_currency": "AUD"
  },
  {
    "name": "Raj",
    "age": 52,
    "gender": "male",
    "address": "Bangalore",
    "aadhaar": "BLR-007",
    "monthly_income": 25000000,
    "income_currency": "INR"
  },
  {
    "name": "Sofia",
    "age": 35,
    "gender": "female",
    "address": "New York",
    "aadhaar": "NYC-2024A",
    "monthly_income": 25000,
    "income_currency": "USD"
  },
  {
    "name": "Omar",
    "age": 41,
    "gender": "male",
    "address": "Riyadh",
    "aadhaar": "SA-9182",
    "monthly_income": 60000,
    "income_currency": "SAR"
  },
  {
    "name": "Ananya",
    "age": 22,
    "gender": "female",
    "address": "Pune",
    "aadhaar": "P-7890-INT",
    "monthly_income": 80000,
    "income_currency": "INR"
  },
  {
    "name": "Marcus",
    "age": 60,
    "gender": "male",
    "address": "Singapore",
    "aadhaar": "SG-1122",
    "monthly_income": 30000,
    "income_currency": "SGD"
  }
]
```

Generating Enum:

Enum stands for 'Enumertion'. It is a data type that defines a set of named values, called members or constants, that a variable can take.

Think of it like a drop down menu in a form, where only a few specific choices are allowed.

In short, it is a structured output in which, we define ourselves what we want in the output.

Example:

pdf:-

    name:

    dignosis:

    medicines:

    finale_remark: admit, admitted, stay in hospital

The meaning of all these final remark is the same, but if I generate them in the form of a structured output, they will appear as different entities  even though they represent the same thing. This reduces the clarity of the data.

To handle such cases, we use enums. Enums allow us to define a fixed set of rules or possible values.

For example, if we give an LLM a 700-page PDF and ask, What is the final remark?, the model might generate the final remark as defined in our earlier example. However, we dont want it to display three different variations of the same value  we want it as a single, unified output.

Thats why we use enums  to ensure that the model outputs one standardized value instead of multiple similar ones.

1. admit: admitted
2. admitted: admitted
3. stay in hospital: admitted

In [28]:
   # 3 people writting in 3 differentway but the thing is same .it low low downs the out
   # so , basically we use Enum
   # In Enum we basicly define rule

In [29]:
#problem country:continent

response_3 = client.models.generate_content(
    model='gemini-2.5-flash',
    contents="where is india",
)

print(response_3.text)

India is a large country located in **South Asia**.

Here's a more detailed breakdown of its geographical location:

*   **Continent:** Asia
*   **Subregion:** South Asia
*   **Boundaries:**
    *   **North:** Bordered by the **Himalayan mountain range** and shares land borders with China, Nepal, and Bhutan.
    *   **Northwest:** Shares a land border with Pakistan.
    *   **East:** Shares land borders with Bangladesh and Myanmar. The **Bay of Bengal** lies to its east.
    *   **West:** The **Arabian Sea** lies to its west.
    *   **South:** The **Indian Ocean** lies to its south, separating it from island nations like Sri Lanka and the Maldives.

Essentially, it's a large peninsula extending into the Indian Ocean, flanked by the Arabian Sea on its west and the Bay of Bengal on its east.

In [30]:
response_4 = client.models.generate_content(
    model='gemini-2.5-flash',
    contents="where is japan",
)

print(response_4.text)

Japan is an **island nation** located in **East Asia**, specifically in the **Pacific Ocean**.

It lies off the **eastern coast of the Asian mainland**, to the **east of the Korean Peninsula and China**, and to the **south of the Russian Far East**.

It's an **archipelago**, meaning a group of islands. While there are thousands of islands, the four main ones are:

*   **Honshu** (the largest and most populated, home to Tokyo, Kyoto, Osaka)
*   **Hokkaido** (the northernmost main island)
*   **Kyushu** (the southernmost main island)
*   **Shikoku** (the smallest of the four main islands)

Its distinctive arc-like shape stretches over a considerable distance in the western Pacific.

as you can see both answers are "South Asia" and "East Asia"
but i want it shows only Asia

In [31]:
# problem : country:- continent

import enum


class continent(enum.Enum):
  NORTH_ASIA =  "ASIA"
  SOUTH_ASIA =  "ASIA"
  EAST_ASIA =  "ASIA"
  WEST_ASIA =  "ASIA"
  CENTRAL_ASIA =  "ASIA"
  OTHER = "NOT ASIA"




response_5 = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents="Where is PHOTOSYNTHESIS",
    config={
        "response_mime_type":"text/x.enum",   # change out put form in Text
        "response_schema":continent            # pass directly schema
    }


)

In [32]:
print(response_5.text)

ASIA

In our schema, weve placed NOT ASIA under the OTHER category so that if a user enters a country from any continent other than Asia, or any unrelated text, the model will output NOT ASIA according to the schema.

And if the user enters a country that belongs to the Asian continent, then the model will output ASIA as per the schema.